stages: [build]

variables:
  IMAGE: "registry.gitlab.com/orion-hub/routex-hub-driver-service"
  DOCKERFILE: "Dockerfile"
  CONTEXT: "."

build_image:
  stage: build
  tags: [k8s,kaniko]
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint: [""]
  script:
    - mkdir -p /kaniko/.docker
    # mount secret dockerconfigjson từ K8s vào pod -> cách 1: dùng KubernetesExecutor + pod spec (mình hướng dẫn tiếp bên dưới)
    # cách 2: generate config.json từ variables CI (nếu bạn muốn)
    - /kaniko/executor
      --context "${CONTEXT}"
      --dockerfile "${DOCKERFILE}"
      --destination "${IMAGE}:${CI_COMMIT_TAG:-$CI_COMMIT_SHORT_SHA}"
      --cache=true